# {{ project_module }}

> Your project's description goes here

## Installation

```bash
# for a command line application
uvx --from {{ github_repo }} <some-script>

# for a library
uv add {{ github_repo }}
```

## Development

```bash
git clone {{ github_repo }}
cd {{ project_module }}
make install
```

## Tasks

```bash
make all                 # shortcut to make install check coverage
make clean               # alias for git clean, *MAY LOOSE PROGRESS* when used on a dirty repo
make check               # run all prek hooks in all files
make coverage            # run the test suite with coverage tracking enabled
make test                # run the test suite
make integration         # run the test suite in multiple python versions
make update-dependencies # update prek hooks and python dependencies
```

## Notes

* `prek` and `uv` are configured to use a cooldown of 7 days. For more
  information on why this is a good idea read:
  - <https://blog.yossarian.net/2025/11/21/We-should-all-be-using-dependency-cooldowns>
  - <https://blog.yossarian.net/2025/12/13/cooldowns-redux>
  - <https://nesbitt.io/2026/03/04/package-managers-need-to-cool-down.html>
