version = 1

[[annotations]]
SPDX-FileCopyrightText = "Copyright © {{ "%Y" | strftime }} {{ user_name }} <{{ user_email }}>"
SPDX-License-Identifier = "MIT"
precedence = "override"

path = [
    ".copier-answers.yml",
    ".coveragerc",
    ".editorconfig",
    ".gitignore",
    ".python-version",
    "GNUmakefile",
    "README.md",
    "prek.toml",
    "pyproject.toml",
    "ruff.toml",
    "src/{{ project_module }}/__about__.py",
    "tests/test_version.py",
    "uv.lock",
]
